<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href="/dist/css/styles.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="/dist/js/utils/utils.js"></script>
    <script src="/dist/js/notificationpanel.js"></script>
    <script src="/dist/js/navigate.js"></script>
    <title>Crackits Prototype</title>
    <div id='notificationPanel' class="notificationHidden"></div>
</head>
<body>
    <nav id='nav-bar' hidden="hidden">
        <div id='home-nav-logo'></div>
        <ul id='nav-links'>
            <li onclick="navigate(event,this,'play')">Play</li>
            <li>Register</li>
            <li>Forums</li>
            <li>Media</li>
            <li>About</li>
        </ul>
    </nav>

