*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Major Mono Display', monospace;
    overflow:hidden;
    /* scroll-behavior: smooth;
    overflow-x: hidden; */
}
html{
    background-color:black; 
}
.hidden{
    visibility: hidden;
}
/*START Notification system*/
#notificationPanel{
    position: absolute;
    z-index: 800;
    left:50%;
    margin-left:-20vw;
    top:0;
    text-align: center;
    width: 40vw;
    padding: 10px;
    border: 1px solid white;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
    color:white;
}
.notificationHidden{
    visibility: hidden;
}
.errorMessage{
    background-color: #ff6b6b;
}

.warningMessage{
    background-color: #feca57;
}

.successMessage{
    background-color: #1dd1a1;
}
/*END Notification system*/


/* BEGIN INDEX */
#landing-canvas{
    background-color: black;
    color: white;
    /* filter: blur(20); */
}
#overlay-panel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: black;
 
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes overlayOut{
    from{
        opacity: 0.6;
    }
    to{
        opacity: 0;
    }
}
@keyframes overlayIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 0.6;
    }
}
#hero-content{
    position: absolute;
    margin: 0 auto;
    top: 30vh;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 40vh;
    /* border: 1px solid red; */
    animation-name: fadeOut;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
#hero-banner{
    margin: 0 auto;
    text-align: center;
    color: rgb(173, 172, 172);
    font-size: 4vw;
    /* border: 1px solid red; */
    height: 20vh;
    user-select: none;
}
#hero-cta-text{
    position: relative;
    top: -3vh;
    margin: 0 auto;
    text-align: center;
    font-size: 1vw;
    color: rgb(133, 130, 130);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    user-select: none;
}
#hero-cta-button{
    /* position: relative;
    top: 8vh; */
    margin-top: 6vh;
    max-width: 10vw;
    padding: 5px 10px;
    margin-left:calc(50% - 4vw);
    font-size: 1vw;
    background-color: rgb(60, 60, 190);
    border: none;
    border-radius: 6px;
    color:white;
    letter-spacing: 2px;
    text-decoration: none;
    text-shadow: 1px 1px 4px rgb(0, 0, 0);
    user-select: none;
    transition: background-color,color 0.8s;
}
#hero-cta-button:hover{
    color:black;
    background-color: red;
}
#hero-cta-button:focus{
    outline: 0;
}
.homeOverlay{
    opacity: 0.6;
}
.nonDistractOverlay{
    opacity: 0.8;
}
/* END INDEX */

/* START CONTENT PANEL */
#content-panel{
    position: absolute;
    top:calc(6vh + 1vw + 1px);
    /* margin-top: 3vh; */
    width: 99vw;
    height: 400vh;
    /* border: 1px solid blue; */
    z-index: 800;
    color: white;
    font-size: 4vw;
    overflow: visible;
    /* padding: 0 1vw; */
}
.contentPanelShown{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
/* END CONTENT PANEL */

/* START NAV BAR */
#nav-bar{
    position: absolute;
    /* border: 1px solid red; */
    top: 0;
    left: 0;
    margin-top: 1vh;
    padding: 1vw;
    width: 100vw;
    height: 5vh;
    z-index: 999;
    display: flex;
    flex-wrap: nowrap;
    color: white;
    justify-content: space-evenly;
    align-items:baseline;
    padding-bottom: 5vh;
    border-bottom: 1px solid white;
}
#home-nav-logo{
    /* float: left; */
    /* border: 1px solid green; */
    flex: 1 1 20%;
    font-size: 2vw;
    margin-bottom: 20px;
    user-select: none;
}
#nav-links{
    /* float: right; */
    flex: 1 1;
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#nav-links a{
    /* float: left; */
    font-size: 1vw;
    cursor: pointer;
    user-select: none;
    /* margin-right: 5px; */
    transition: color 400ms ease;
    letter-spacing: 2px;
}
#nav-links a:hover{
    color: rgba(250, 46, 46, 0.808);
}
/* END NAV BAR */

/* START HOME PAGE */
#home-hero-panel{
    margin: 0 auto;
    /* width: 100vw; */
    height: 50vh;
    /* border: 1px solid red; */
}
#home-hero-content{
    text-align: center;
    padding-top: 40vh;
    user-select: none;
}
/* END HOME PAGE */