{{>header}}
    <canvas id='landing-canvas'></canvas>
    <div id='overlay-panel' class="homeOverlay">
    </div>
    <div id='content-panel'></div>
     <div id='hero-content'>
        <div id='hero-banner'>
        </div>
        <div id='hero-cta-text'>Show us what you can do</div>
        <button id='hero-cta-button' onclick="loadHome(event,this)">play now</button>
    </div>
    <script src="/dist/js/heroTyper.js"></script>
    <script src="/dist/js/landingCanvas.js"></script>
{{>footer}}