{{>header}}
    <canvas id='landing-canvas'></canvas>
    <div id='hero-panel'>
        <div id='hero-content'>
            <div id='logo'>
            </div>
            <div id='hero-cta-text'></div>
            <button id='hero-cta-button'></button>
        </div>
    </div>
    <script src="/dist/js/landingCanvas.js"></script>
{{>footer}}